-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "owners" (
    "id" SERIAL NOT NULL,
    "first_name" TEXT,
    "last_name" TEXT,
    "address" TEXT,
    "city" TEXT,
    "telephone" TEXT,

    CONSTRAINT "owners_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pets" (
    "id" SERIAL NOT NULL,
    "name" TEXT,
    "birth_date" DATE,
    "type_id" INTEGER NOT NULL,
    "owner_id" INTEGER,

    CONSTRAINT "pets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "specialties" (
    "id" SERIAL NOT NULL,
    "name" TEXT,

    CONSTRAINT "specialties_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "types" (
    "id" SERIAL NOT NULL,
    "name" TEXT,

    CONSTRAINT "types_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "vet_specialties" (
    "vet_id" INTEGER NOT NULL,
    "specialty_id" INTEGER NOT NULL
);

-- CreateTable
CREATE TABLE "vets" (
    "id" SERIAL NOT NULL,
    "first_name" TEXT,
    "last_name" TEXT,

    CONSTRAINT "vets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "visits" (
    "id" SERIAL NOT NULL,
    "pet_id" INTEGER,
    "visit_date" DATE,
    "description" TEXT,

    CONSTRAINT "visits_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "owners_last_name_idx" ON "owners"("last_name");

-- CreateIndex
CREATE INDEX "owners_last_name_idx1" ON "owners"("last_name");

-- CreateIndex
CREATE INDEX "owners_last_name_idx2" ON "owners"("last_name");

-- CreateIndex
CREATE INDEX "pets_name_idx" ON "pets"("name");

-- CreateIndex
CREATE INDEX "pets_name_idx1" ON "pets"("name");

-- CreateIndex
CREATE INDEX "pets_name_idx2" ON "pets"("name");

-- CreateIndex
CREATE INDEX "pets_owner_id_idx" ON "pets"("owner_id");

-- CreateIndex
CREATE INDEX "pets_owner_id_idx1" ON "pets"("owner_id");

-- CreateIndex
CREATE INDEX "pets_owner_id_idx2" ON "pets"("owner_id");

-- CreateIndex
CREATE INDEX "specialties_name_idx" ON "specialties"("name");

-- CreateIndex
CREATE INDEX "specialties_name_idx1" ON "specialties"("name");

-- CreateIndex
CREATE INDEX "specialties_name_idx2" ON "specialties"("name");

-- CreateIndex
CREATE INDEX "types_name_idx" ON "types"("name");

-- CreateIndex
CREATE INDEX "types_name_idx1" ON "types"("name");

-- CreateIndex
CREATE INDEX "types_name_idx2" ON "types"("name");

-- CreateIndex
CREATE UNIQUE INDEX "vet_specialties_vet_id_specialty_id_key" ON "vet_specialties"("vet_id", "specialty_id");

-- CreateIndex
CREATE INDEX "vets_last_name_idx" ON "vets"("last_name");

-- CreateIndex
CREATE INDEX "vets_last_name_idx1" ON "vets"("last_name");

-- CreateIndex
CREATE INDEX "vets_last_name_idx2" ON "vets"("last_name");

-- CreateIndex
CREATE INDEX "visits_pet_id_idx" ON "visits"("pet_id");

-- CreateIndex
CREATE INDEX "visits_pet_id_idx1" ON "visits"("pet_id");

-- CreateIndex
CREATE INDEX "visits_pet_id_idx2" ON "visits"("pet_id");

-- AddForeignKey
ALTER TABLE "pets" ADD CONSTRAINT "pets_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "owners"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "pets" ADD CONSTRAINT "pets_type_id_fkey" FOREIGN KEY ("type_id") REFERENCES "types"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "vet_specialties" ADD CONSTRAINT "vet_specialties_specialty_id_fkey" FOREIGN KEY ("specialty_id") REFERENCES "specialties"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "vet_specialties" ADD CONSTRAINT "vet_specialties_vet_id_fkey" FOREIGN KEY ("vet_id") REFERENCES "vets"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "visits" ADD CONSTRAINT "visits_pet_id_fkey" FOREIGN KEY ("pet_id") REFERENCES "pets"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

